{
	email admin@example.com
}

{$APP_DOMAIN} {
	encode gzip zstd

	@api path /api/* /health /socket.io/*
	reverse_proxy @api backend:3000

	root * /srv/web
	try_files {path} {path}.html /index.html
	file_server
}
