:80 {
    # Chuyển tiếp toàn bộ các yêu cầu HTTP thường và API đến container app
    reverse_proxy /api/* app:3000
    reverse_proxy /socket.io/* app:3000

    # Chuyển tiếp các yêu cầu giao diện hoặc healthcheck khác
    reverse_proxy * app:3000
}
